<!--@subject Account confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Dear {{htmlescape var=$customer.name}},</h1>
            <p>E-mail anda {{var customer.email}} harus dikonfirmasi sebelum digunakan untuk masuk ke dalam toko online kami.</p>
            <p>Untuk konfirmasi email, silahkan klik (Link ini hanya berlaku sekali.):</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}"><span>link ini</span></a>
                    </td>
                </tr>
            </table>
            <p>If clicking the link does not work, please copy and paste the URL into your browser instead.</p>
            <p>Gunakan kolom dibawah ini untuk masuk:<br/>
                <strong>E-mail:</strong> {{var customer.email}}<br/>
                <strong>Password:</strong> {{htmlescape var=$customer.password}}<p>
            <p>
{{template config_path="design/email/contact"}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
