<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Dear {{htmlescape var=$customer.name}},</h1>
            <p>Selamat datang di {{var store.getFrontendName()}}.</p>
            <p>Untuk masuk ke akun anda silahkan klik <a href="{{store url="customer/account/"}}">Login</a> atau <a href="{{store url="customer/account/"}}">My Account</a> di sudut atas setiap halaman, kemudian masukkan e-mail dan password anda.</p>
            <p>Ketika anda masuk ke akun anda, anda dapat melakukan hal-hal sebagai berikut:</p>
            <ul>
                <li>Proses checkout lebih cepat saat melakukan pembelian</li>
                <li>Memeriksa status pesanan</li>
                <li>Melihat riwayat pesanan</li>
                <li>Merubah informasi akun</li>
                <li>Merubah password</li>
                <li>Alamat pengiriman alternatif (untuk pengiriman ke alamat lain, keluarga atau teman!)</li>
            </ul>
            <p>
{{template config_path="design/email/contact"}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
