<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Dear {{htmlescape var=$customer.name}},</h1>
            <p><strong>Password baru anda adalah:</strong> {{htmlescape var=$customer.password}}</p>
            <p>Anda dapat merubah password kapan saja dengan masuk ke <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">akun anda</a>.<p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
