{* This is a comment block

Available vars in this template:
  - name            Recipient name
  - email           Recipient Email address
  - product_name    Product name
  - product_url     Url for product
  - product_image   Url for product small image (75 px)
  - message         Sender custom message
  - sender_name     Sender name
  - sender_email    Sender email

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var message":"Sender Message"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Selamat datang, {{htmlescape var=$name}}</h1>
            <p>Silahkan melihat <a href="{{var product_url}}">{{var product_name}}</a></p>
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td><strong>Pesan:</strong> {{var message}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
